.social-login
    button.social-login--github
        a(href=routes.gitHub style="color: white") 
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login--kakao
        a(href=routes.kakao style="color: black") 
            span
                i.fas.fa-comment
            |Continue with Kakao Talk